@page "/"

<div class="curriculo">
    <h1 class="nome">Lucas da Silva Barbosa</h1>
    <p class="biografia">
        Financial Planning & Analysis for the Investment Banking Division at UBS
    </p>

    <h2>Habilidades e Experiências</h2>
    <ul class="habilidades">
        <li>Python</li>
        <li>Excel</li>
        <li>Office 365</li>
        <li>UBS - FP&A for Investment Banking</li>
        <li>Inteli Finance - Investment Director</li>
        <li>Fintalk - A.I Development</li>
        <li>V. Tal - Software Development </li>

    </ul>

    <h2>Contatos</h2>
    <p>
        <li>lsbarbosa2004@gmail.com</li>
        <a href="https://www.linkedin.com/in/lucasdasilvabarbosa" target="_blank">LinkedIn</a> |
    </p>
</div>